@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* ::after ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(138, 215, 252);
    background: linear-gradient(28deg, rgba(138, 215, 252, 1) 0%, rgba(14, 94, 140, 1) 100%);
    font-family: 'Montserrat', sans-serif;
}

.calc {
    width: 360px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
}

.buttons button {
    height: 90px;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    color: rgba(0, 0, 0, .6);
}

button:hover {
    background-color: rgba(255, 255, 255, .8);
}

.ac {
    grid-column: 1/3;
    grid-row: 1/2;
}

.equal {
    grid-column: 3/5;
    grid-row: 5/6;
}

.calcDisplay {
    background-color: rgba(0, 0, 0, .3);
    text-align: end;
    padding: 10px;
    margin-bottom: 3px;
    color: white;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.currentNumber {
    font-size: 33px;
    align-items: flex-end;
    height: 40px;
}

.previousNumber {
    color: rgba(255, 255, 255, .7);
    height: 40px;
}

.operatorDisplay {
    color: rgba(255, 255, 255, .7);
}